@model Bookish.Models.Book

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
@if (TempData["Message"] != null)
{
    <div class="alert alert-warning">
        @TempData["Message"]
    </div>
    <form method="post">
        <input type="hidden" asp-for="BookId" />
        <button name="button" value="delete" class="btn btn-primary">Delete</button>
    </form>


}
<div>
    <a asp-action="Books">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}